body {
    zoom: 2;
}

table, th, td {
  border: 1px solid;
  margin-bottom: 16px;
	background-color:white;
}

th {
	background-color: yellow;
}

table {
	width: 75%;
}

@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
{
body {
    zoom: 1;
}

table, th, td {
  border: 1px solid;
  margin-bottom: 18px;
	background-color:white;
}

th {
	background-color: yellow;
}

table {
	width: 100%;
}

}