

body {
	background: white;
	margin: 0px;
	font-family: 'Freckle Face', cursive;
}

p {
	font-size: 38px;
	line-height: 42px;
	margin: 0px;
	letter-spacing: 1px;
}

h2 {
	font-size: 38px;
	line-height: 42px;
	margin: 0px;
	font-weight:normal;
	letter-spacing: 1px;
}

.underline span {
  display: inline-block;
}

.underline span::after
{
  content: '';
  height: 5px;
  background: blue;
  border-radius: 5px;
  display: block
}

#container {
	width: 1010px;
    padding: 36px 36px 0px 36px;
}

#container:hover {

}

.section {
	padding: 0px 0px 36px 0px
}

#intro {
}

#past {
}

#projects {
}

#contact {
	position:absolute;
	bottom:0;
	padding: 0px 0px 36px 0px;
}

a:link {
  text-decoration: none;
  color: blue;
}

